body{
    background-color: #a090f1;
}

h1{
    color: white;
    text-align: center;
    size: 10em;
}

h2{
    color: #ffffff;
    padding: 0%;
    text-align: center;
}

h3{
    color: #08d72e;
    padding: 0%;
    text-align: center;
}
